.page {
    &--validity-page {
        .section {
            &--check-validation {
                .validation {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
                    grid-gap: 20px;
                    align-items: stretch;

                    @include media-lt-400 {
                        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    }

                    &__item {
                        .item__inner {
                            > * {
                                &:not(:last-child) {
                                    margin: 0 0 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
