.sidebar {
    min-height: 100vh;
    position: sticky;
    padding: 70px 0;
    background: rgba($whiteColor, .06);
    top: 0;
    align-self: flex-start;

    @include media-lt-750 {
        width: 100%;
        min-height: unset;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        padding: 0;
        background: $primaryColorDarker;
        box-shadow: 0 -6px 12px rgba($blackColor, .8);
        z-index: 9;
    }

    &__links {
        display: grid;
        grid-gap: 30px;

        @include media-lt-750 {
            grid-template-columns: repeat(4, 25%);
            grid-gap: 0;
        }

        .links__item {
            @include transition(all .24s ease);
            display: grid;
            grid-auto-flow: column;
            grid-gap: 8px;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            padding: 8px 20px;

            @include media-lt-750 {
                grid-auto-flow: row;
                grid-gap: 4px;
                justify-content: center;
            }

            // Children
            &::before {
                content: '';
                width: 4px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: transparent;

                @include media-lt-750 {
                    width: 100%;
                    height: 2px;
                }
            }

            .item__icon {
                width: 20px;
                height: 20px;
                display: inline-block;

                @include media-lt-750 {
                    width: 16px;
                    height: 16px;
                    margin: 0 auto;
                }

                .icon__element {
                    *[stroke] {
                        stroke: $whiteColor;
                    }
                }
            }

            .item__label {
                @include transition(all .24s ease);
                color: $whiteColor;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 1px;
                opacity: .7;

                @include media-lt-750 {
                    font-size: 10px;
                    text-align: center;
                }
            }

            // States
            &:hover {
                @include transition(all .24s ease);

                .item__icon {
                    .icon__element {
                        *[stroke] {
                            stroke: $secondaryColor;
                        }
                    }
                }

                .item__label {
                    color: $secondaryColor;
                    opacity: 1;
                }
            }

            &--active {
                background: rgba($whiteColor, .1);
                pointer-events: none;

                &::before {
                    background: $whiteColor;
                }

                .item__label {
                    color: $whiteColor;
                }
            }
        }
    }
}
