.page {
    &--array-union-page {
        .section {
            &--results {
                .results {
                    display: grid;
                    grid-gap: 6px;

                    &__item {
                        @include transition(all .24s ease);
                        padding: 2px;
                        background: rgba($whiteColor, .1);
                        border-radius: 16px;

                        .item__title {
                            @include transition(all .3s ease);
                            position: relative;
                            border-radius: 14px;
                            cursor: pointer;

                            &::before,
                            &::after {
                                @include transition(all .24s ease);
                                content: '';
                                width: 2px;
                                height: 10px;
                                position: absolute;
                                top: calc(50% - 5px);
                                right: 20px;
                                background: rgba($whiteColor, .7)
                            }

                            &::before {
                                @include transform(rotate(45deg));
                            }

                            &::after {
                                @include transform(translate(-7px) rotate(-45deg));
                            }

                            .title__element {
                                @include transition(all .3s ease);
                                padding: 10px 14px;

                                &::before {
                                    @include transform(translateY(-50%));
                                    @include transition(all .24s ease);
                                    content: '';
                                    width: 3px;
                                    height: 0;
                                    position: absolute;
                                    top: 50%;
                                    left: 4px;
                                    background: $primaryColorDarker;
                                    border-radius: 4px;
                                }
                            }

                            &:hover {
                                background:rgba($whiteColor, .8);

                                &::before,
                                &::after {
                                    background: $primaryColorDarker;
                                }

                                .title__element {
                                    padding: 10px 14px 10px 18px;
                                    color: $primaryColorDarker;

                                    &::before {
                                        height: calc(100% - 20px);
                                    }
                                }
                            }
                        }

                        .item__body {
                            @include transition(all .4s ease);
                            height: 0;
                            overflow: hidden;

                            .body__inner {
                                padding: 10px 14px;

                                .inner__item {
                                    display: grid;
                                    grid-template-columns: 30% 70%;
                                    padding: 6px 0;

                                    &:not(:last-child) {
                                        border-bottom: 1px solid rgba($whiteColor, .1);
                                    }
                                }
                            }
                        }

                        &.item--active {
                            box-shadow: 0 16px 32px rgba($blackColor, .46);
                            backdrop-filter: blur(3px);

                            .item__title {
                                &::before {
                                    @include transform(rotate(-45deg));
                                }
    
                                &::after {
                                    @include transform(translate(-7px) rotate(45deg));
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
